<!DOCTYPE HTML>
<html>
    <head>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">

          $(document).ready(function() {
            namespace = '/prod';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
     
            socket.on('connect', function() {
              socket.emit('connected', {data: 'CONNECTED FROM CLIENT', value: 1}); 
            });

            socket.on('initial_data', function(msg){
              initial_values = msg['data']
            })

            $('form#pwm_req').submit(function(event) {
              socket.emit('pwm_req',{value: $('#pwm_input').val});
              return false; 
              });         

            $('button#buttonExit').submit(function(event) {
              socket.emit('disconnect_request');
              return false; 
            });         
          }); 

         </script>
        <title>Regulácia Intenzity Osvetlenia</title>

    </head>
    <body>

      <h1> Regulácia Intenzity Osvetlenia </h1>

      <form id = "pwm_req">
        <label for="num-input">Zadaj úroveň osvetlenia 0 až 255</label>
        <input type="text" id="pwm_input" name="pwm_input" pattern="[1-9][0-9]?$|^100$" required>
        <br><br>
        <input type="submit" value="nastaviť">
      </form>

      <button id="buttonOnOff" type="submit" value="on">Spustiť monitorovanie</button>

      <button id="buttonExit" type="submit" value="exit">Ukončenie aplikácie</button>
      
      <div>
        Aktualna úroveň osveltenia

      </div>
    </body>
</html>
