<!DOCTYPE HTML>
<html>
    <head>
      <style>
        #chart {
          width: 75%;
          margin: 0 auto;
        }
      </style>
      
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gauge.js/1.3.5/gauge.min.js"></script>
        <script type="text/javascript" charset="utf-8">

          on_off = 0

          $(document).ready(function() {
            namespace = '/prod';
            sqlChart = null
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
            

            socket.on('connect', function() {
              socket.emit('connected', {data: 'CONNECTED FROM CLIENT', value: 1}); 
            });
            
            socket.on('sql_data', function(msg) {
              row_val = msg.data
              const parsedData = JSON.parse(row_val);
              const x = parsedData.map(obj => obj.x)
              const y = parsedData.map(obj => obj.y)
              const u = parsedData.map(obj => obj.u)
              

              labels = []

              const config = {
                type: 'line',
                data: {
                  labels: labels,
                  datasets:[{
                    label: "Intenzita Osvetlenia",
                    data: [],
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0
                  },{
                    label: "Akčný zásah",
                    data: [],
                    fill: false,
                    borderColor: 'rgb(0, 102, 204)',
                    tension: 0
                  }]
                },
              };


              if (sqlChart == null){
                sqlChart = new Chart(
                    document.getElementById('sqlChart'),
                    config
                );
              };

              sqlChart.data.labels = x
              sqlChart.data.datasets[0].data = y
              sqlChart.data.datasets[1].data = u
              sqlChart.update();
              
              var myParagraph  = document.getElementById("vypis_saved"); 
              console.log(parsedData)
              
              let htmlString = "<ul>";

              for (let i = 0; i < parsedData.length; i++) {
                htmlString += `<li>${parsedData[i].x} , ${parsedData[i].y} , ${parsedData[i].u}</li>`;
              }
              htmlString += "</ul>";

              // Set the content of the p element to the HTML string
              myParagraph.innerHTML = htmlString;
            });

            socket.on('sensor_data', function(msg){
              sensor_data = msg.data
              console.log(sensor_data)
              if(on_off == 1){
                // vypisovanie
                var dataList = document.getElementById("data_list"); 
                var newListItem = document.createElement("li"); 
                var today = new Date();
                var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                var message = date+' '+time+' Intenzita osvetlenia: ' + sensor_data;
			          newListItem.innerHTML = message; 
			          dataList.appendChild(newListItem); 

                if (dataList.children.length > 20) {
				          dataList.removeChild(dataList.children[0]);
			          }
                
                //chart
                myChart.data.labels.push(time)
                myChart.data.datasets[0].data.push(parseInt(msg.data))
                myChart.update();

                //analog cifernik
                gauge.set(sensor_data); // set actual value

		          }
            })
            
            // regulacia req
            $('form#pwm_req').submit(function(event) {
              sent_value = ($('#pwm_input').val());
              socket.emit('pwm_req',{value: sent_value});              
              return false; 
              });   

            // sql id record
            $('form#sql_id').submit(function(event) {
              sent_value = ($('#row_id').val());
              socket.emit('sql_id',{value: sent_value});              
              return false; 
              });    
              
            // file id record
            $('form#file_id').submit(function(event) {
              sent_value = ($('#row_id_file').val());
              socket.emit('file_id',{value: sent_value});              
              return false; 
              });    

            //vypnutie
            $('button#buttonExit').click(function(event) {
              socket.emit('disconnect_request');
              return false; 
            });     
            
            //saving
            $('button#buttonOnOff').click(function(event) {
              socket.emit('save',{value: on_off});
              return false; 
            }); 
            
            $('button#buttonReset').click(function(event) {
              socket.emit('reset');
              return false; 
            }); 
          }); 

        </script>
    
      <title>Regulácia Intenzity Osvetlenia</title>
    </head>

    <body>

      <h1> Regulácia Intenzity Osvetlenia </h1>

      <form id = "pwm_req">
        <label for="num-input">Zadaj úroveň osvetlenia 0 až 255</label>
        <input type="number" id="pwm_input" name="pwm_input" min="0" nax="255" required>
        <br><br>
        <input type="submit" value="nastaviť">
      </form>

      <button id="buttonOnOff" type="submit" value="on", onclick="toggleStartStop()">Spustiť monitorovanie</button>

      <button id="buttonExit" type="submit" value="exit">Dissconnect</button>
      <button id="buttonReset" type="submit" value="exit">Reset Senzorov</button>

      <div id = 'data_list'>
        <h2> Aktuálna úroveň osveltenia</h2>

      </div>

      <div id = 'chart'>
        <h2> GRAF </h2>
        <canvas id="myChart"></canvas>
      </div>

      <div class="gauge">
        <canvas id="foo"></canvas>
        <div id="preview-textfield" style="font-size: 15px;">0</div>
      </div>
      
      <div>
        <form id="sql_id">
          <input type="number", name="row_id", id="row_id", placeholder="Id záznam SQL">
          <input type="submit", value="Odoslať">
        </form>
        <canvas id="sqlChart"></canvas>
        <div>
          <h2> Aktuálna úroveň osveltenia</h2>
          <p id = "vypis_saved"></p>
        </div>
      </div>
      
      <form id="file_id"> 
        <input type="number", name="row_id_file", id="row_id_file", placeholder="Id záznam súbor">
        <input type="submit", value="Odoslať">
        
      </form>

    </body>
</html>

<script>
  
  function toggleStartStop() {
    var button = document.getElementById("buttonOnOff");
    if (button.innerHTML == "Spustiť monitorovanie") {
      button.innerHTML = "Zastaviť monitorovanie";
      on_off = 1;
    } else {
      button.innerHTML = "Spustiť monitorovanie";
      on_off = 0;
    }
  }


  // analog gauge and chart
  var opts = {
    angle: 0.15, // The span of the gauge arc
    lineWidth: 0.44, // The line thickness
    radiusScale: 1, // Relative radius
    pointer: {
      length: 0.6, // // Relative to gauge radius
      strokeWidth: 0.035, // The thickness
      color: '#000000' // Fill color
    },
    limitMax: false,     // If false, max value increases automatically if value > maxValue
    limitMin: false,     // If true, the min value of the gauge will be fixed
    colorStart: '#6FADCF',   // Colors
    colorStop: '#8FC0DA',    // just experiment with them
    strokeColor: '#E0E0E0',  // to see which ones work best for you
    generateGradient: true,
    highDpiSupport: true,     // High resolution support
  };

  var target = document.getElementById('foo'); // your canvas element
  var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
  gauge.maxValue = 255; // set max gauge value
  gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
  gauge.animationSpeed = 32; // set animation speed (32 is default value)
  gauge.setTextField(document.getElementById("preview-textfield"));

  labels = []

const data = {
    labels: labels,
    datasets: [{
        label: 'Intenzita osvetlenia',
        data: [],
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0
    }
  
    ]
};

const config = {
    type: 'line',
    data: data,
    options: {
        plugins: {
            zoom: {
                zoom: {
                    wheel: {
                        enabled: true,
                    },
                    pinch: {
                        enabled: true
                    },
                    mode: 'xy',
                }
            }
        }
    }
};
  
const myChart = new Chart(
    document.getElementById('myChart'),
    config
);


  </script>


